<p id="notice"><%= notice %></p>

<p>
  <strong>Applynumber:</strong>
  <%= @apply.applyNumber %>
</p>

<p>
  <strong>Phoneapplydate:</strong>
  <%= @apply.phoneApplyDate %>
</p>

<p>
  <strong>Internetapplydate:</strong>
  <%= @apply.internetApplyDate %>
</p>

<p>
  <strong>Iptvapplydate:</strong>
  <%= @apply.iptvApplyDate %>
</p>

<p>
  <strong>Nameorfio:</strong>
  <%= @apply.nameOrFIO %>
</p>

<p>
  <strong>Street:</strong>
  <%= @apply.street %>
</p>

<p>
  <strong>House:</strong>
  <%= @apply.house %>
</p>

<p>
  <strong>Building:</strong>
  <%= @apply.building %>
</p>

<p>
  <strong>Apartmentoroffice:</strong>
  <%= @apply.apartmentOrOffice %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @apply.floor %>
</p>

<p>
  <strong>Entrance:</strong>
  <%= @apply.entrance %>
</p>

<p>
  <strong>Phoneapplystatus:</strong>
  <%= @apply.phoneApplyStatus %>
</p>

<p>
  <strong>Internetapplystatus:</strong>
  <%= @apply.internetApplyStatus %>
</p>

<p>
  <strong>Iptvapplystatus:</strong>
  <%= @apply.iptvApplyStatus %>
</p>

<p>
  <strong>Applytreatedby:</strong>
  <%= @apply.applyTreatedBy %>
</p>

<p>
  <strong>Plannedphoneinstalldate:</strong>
  <%= @apply.plannedPhoneInstallDate %>
</p>

<p>
  <strong>Plannedinternetinstalldate:</strong>
  <%= @apply.plannedInternetInstallDate %>
</p>

<p>
  <strong>Phonecomments:</strong>
  <%= @apply.phoneComments %>
</p>

<p>
  <strong>Internetcomments:</strong>
  <%= @apply.internetComments %>
</p>

<p>
  <strong>Phonecontractnumber:</strong>
  <%= @apply.phoneContractNumber %>
</p>

<p>
  <strong>Phonecontractdate:</strong>
  <%= @apply.phoneContractDate %>
</p>

<p>
  <strong>Phoneports:</strong>
  <%= @apply.phonePorts %>
</p>

<p>
  <strong>Phonecontractconcludedby:</strong>
  <%= @apply.phoneContractConcludedBy %>
</p>

<p>
  <strong>Phonepaymentdate:</strong>
  <%= @apply.phonePaymentDate %>
</p>

<p>
  <strong>Phonedocspassdate:</strong>
  <%= @apply.phoneDocsPassDate %>
</p>

<p>
  <strong>Phoneinstalldate:</strong>
  <%= @apply.phoneInstallDate %>
</p>

<p>
  <strong>Internetcontractnumber:</strong>
  <%= @apply.internetContractNumber %>
</p>

<p>
  <strong>Internetcontractdate:</strong>
  <%= @apply.internetContractDate %>
</p>

<p>
  <strong>Internetports:</strong>
  <%= @apply.internetPorts %>
</p>

<p>
  <strong>Internetcontractconcludedby:</strong>
  <%= @apply.internetContractConcludedBy %>
</p>

<p>
  <strong>Internetpaymentdate:</strong>
  <%= @apply.internetPaymentDate %>
</p>

<p>
  <strong>Internetdocspassdate:</strong>
  <%= @apply.internetDocsPassDate %>
</p>

<p>
  <strong>Internetinstalldate:</strong>
  <%= @apply.internetInstallDate %>
</p>

<p>
  <strong>Iptvcontractnumber:</strong>
  <%= @apply.iptvContractNumber %>
</p>

<p>
  <strong>Iptvcontractdate:</strong>
  <%= @apply.iptvContractDate %>
</p>

<p>
  <strong>Iptvports:</strong>
  <%= @apply.iptvPorts %>
</p>

<p>
  <strong>Iptvcontractconcludedby:</strong>
  <%= @apply.iptvContractConcludedBy %>
</p>

<p>
  <strong>Iptvpaymentdate:</strong>
  <%= @apply.iptvPaymentDate %>
</p>

<p>
  <strong>Iptvinstalldate:</strong>
  <%= @apply.iptvInstallDate %>
</p>

<p>
  <strong>Settobox:</strong>
  <%= @apply.setToBox %>
</p>

<p>
  <strong>Clienttype:</strong>
  <%= @apply.clientType %>
</p>

<p>
  <strong>Insertiondate:</strong>
  <%= @apply.insertionDate %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
