<p id="notice"><%= notice %></p>

<p>
  <strong>Nameorfio:</strong>
  <%= @client.nameOrFIO %>
</p>

<p>
  <strong>Clienttype:</strong>
  <%= ClientType.find(@client.clientType_id).client %>
</p>

<p>
  <strong>Phonecontractnumber:</strong>
  <%= @client.phoneContractNumber %>
</p>

<p>
  <strong>Internetcontractnumber:</strong>
  <%= @client.internetContractNumber %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @client.phoneNumber %>
</p>

<p>
  <strong>Faxnumber:</strong>
  <%= @client.faxNumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Representposition:</strong>
  <%= @client.representPosition %>
</p>

<p>
  <strong>Representfio:</strong>
  <%= @client.representFIO %>
</p>

<p>
  <strong>Contactperson:</strong>
  <%= @client.contactPerson %>
</p>

<p>
  <strong>Inn:</strong>
  <%= @client.inn %>
</p>

<p>
  <strong>Kpp:</strong>
  <%= @client.kpp %>
</p>

<p>
  <strong>Ogrn:</strong>
  <%= @client.ogrn %>
</p>

<p>
  <strong>Okpo:</strong>
  <%= @client.okpo %>
</p>

<p>
  <strong>Okonkh:</strong>
  <%= @client.okonkh %>
</p>

<p>
  <strong>Okwed:</strong>
  <%= @client.okwed %>
</p>

<p>
  <strong>Passportdata:</strong>
  <%= @client.passportData %>
</p>

<p>
  <strong>Legaladdress:</strong>
  <%= @client.legalAddress %>
</p>

<p>
  <strong>Postaddress:</strong>
  <%= @client.postAddress %>
</p>

<p>
  <strong>Connectionpointaddress:</strong>
  <%= @client.connectionPointAddress %>
</p>

<p>
  <strong>Bankname:</strong>
  <%= @client.bankName %>
</p>

<p>
  <strong>Bankbik:</strong>
  <%= @client.bankBIK %>
</p>

<p>
  <strong>Bankcorraccount:</strong>
  <%= @client.bankCorrAccount %>
</p>

<p>
  <strong>Currentaccount:</strong>
  <%= @client.currentAccount %>
</p>

<p>
  <strong>Additionalinfo:</strong>
  <%= @client.additionalInfo %>
</p>

<p>
  <strong>Placeofbirth:</strong>
  <%= @client.placeOfBirth %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @client.dateOfBirth %>
</p>

<p>
  <strong>Perscabphonelogin:</strong>
  <%= @client.persCabPhoneLogin %>
</p>

<p>
  <strong>Perscabphonepasswd:</strong>
  <%= @client.persCabPhonePasswd %>
</p>

<p>
  <strong>Perscabinternetlogin:</strong>
  <%= @client.persCabInternetLogin %>
</p>

<p>
  <strong>Perscabinternetpasswd:</strong>
  <%= @client.persCabInternetPasswd %>
</p>

<p>
  <strong>Benefitdocument:</strong>
  <%= @client.benefitDocument %>
</p>

<p>
  <strong>Phonecontractdate:</strong>
  <%= @client.phoneContractDate %>
</p>

<p>
  <strong>Internetcontractdate:</strong>
  <%= @client.internetContractDate %>
</p>

<p>
  <strong>Contractacceptor:</strong>
  <%= @client.contractAcceptor %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
