<p id="notice"><%= notice %></p>

<p>
  <strong>Ordernumber:</strong>
  <%= @order.orderNumber %>
</p>

<p>
  <strong>Utusendingdate:</strong>
  <%= @order.utuSendingDate %>
</p>

<p>
  <strong>Uasdate:</strong>
  <%= @order.uasDate %>
</p>

<p>
  <strong>Performdate:</strong>
  <%= @order.performDate %>
</p>

<p>
  <strong>Performer:</strong>
  <%= @order.performer %>
</p>

<p>
  <strong>Applynumber:</strong>
  <%= @order.applyNumber %>
</p>

<p>
  <strong>Contractnumber:</strong>
  <%= @order.contractNumber %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order.service %>
</p>

<p>
  <strong>Ordertype:</strong>
  <%= @order.orderType %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Portsnumber:</strong>
  <%= @order.portsNumber %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @order.phoneNumber %>
</p>

<p>
  <strong>Nameorfio:</strong>
  <%= @order.nameOrFIO %>
</p>

<p>
  <strong>Street:</strong>
  <%= @order.street %>
</p>

<p>
  <strong>House:</strong>
  <%= @order.house %>
</p>

<p>
  <strong>Building:</strong>
  <%= @order.building %>
</p>

<p>
  <strong>Apartmentoroffice:</strong>
  <%= @order.apartmentOrOffice %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @order.floor %>
</p>

<p>
  <strong>Entrance:</strong>
  <%= @order.entrance %>
</p>

<p>
  <strong>Responsibleperson:</strong>
  <%= @order.responsiblePerson %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @order.comments %>
</p>

<p>
  <strong>Contactdata:</strong>
  <%= @order.contactData %>
</p>

<p>
  <strong>Persontype:</strong>
  <%= @order.personType %>
</p>

<p>
  <strong>Formingdate:</strong>
  <%= @order.formingDate %>
</p>

<p>
  <strong>Aoreturningdate:</strong>
  <%= @order.aoReturningDate %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
