<!DOCTYPE html>
<html>
<head>
  <title>Registrator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class = '<%= controller.controller_name %>'>

<div id="interface_container">
	<div id="menu">
		<ul>
			<li class="shadow">
				<a href=""><u>П</u>ользователь<img src="arroww.png"></a>
				<ul id="personal">
					<li><a href="#">Личный кабинет</a></li>
					<li><a href="#">Сменить пароль</a></li>
					<li><a href="#">Цвета</a></li>
				</ul>
			</li>
			<li class="shadow">
				<a href=""><u>Д</u>ругие файлы<img src="arroww.png"></a>
				<ul id="files">
					<li><a href="#">Факсы</a></li>
					<li><a href="#">Цены и скидки</a></li>
					<li><a href="#">Анализ портов</a></li>
					<li><a href="#">Еще что-нибудь</a></li>
				</ul>
			</li>
			<li class="shadow">
				<a href=""><u>С</u>ервис<img src="arroww.png"></a>
				<ul id="service">
					<li><a href="#">Генерировать пароли</a></li>
					<li><a href="#">Получить список свободных телефонов</a></li>
					<li><a href="#">Еще что-нибудь</a></li>
				</ul>
			</li>
			<li class="shadow">
				<a href=""><u>С</u>правка<img src="arroww.png"></a>
				<ul id="help">
					<li><a href="#">О программе</a></li>
					<li><a href="#">Справка</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="instruments">
		<ul>
			<li class="button" title="Добавить row_type" onclick="">
				<img src="new_row3.png">
			</li>
			<li class="button" title="Изменить row_type" onclick="">
				<img src="edit_row6.png">
			</li>
			<li class="button" title="Удалить row_type" onclick="">
				<img src="del_row3.png">
			</li>
			<li class="divider">
				<img src="divider.png">
			</li>
			<li class="button" title="Обновить" onclick="">
				<img src="refresh.png">
			</li>
			<li class="button" title="Фильтр" onclick="">
				<img src="filter2.png">
			</li>
			<li class="button" title="Вверх" onclick="">
				<img src="up2.png">
			</li>
			<li class="button" title="Выделение строки" onclick="">
				<img src="selectarrow2.png">
			</li>
		</ul>
	</div>
	<div></div>
	<div></div>
</div>

<%= yield %>

</body>
</html>
